.reservation {
  background: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.reservation__title {
  max-width: 385px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}

.reservation__form {
  max-width: 385px;
  margin-top: 60px;
  width: 100%;
}
